# Generic files to ignore 
**/*.out
**/*.zip
**/*.xlsx

# Personal notes and tracking files
**/notes*
**/*.note
**/scratch*
**/scratch/

# OS and Software Files
**/.DS_Store
**/.vscode*/
**/.bash_history
**/*.swp
**/.cache/**

# PII and other potentially sensitive data
**/.ssh/
**/.gnupg/
**/.gitconfig

# test and dev files
**/*.txt
**/*.o
**/*.pb.cc
**/*.pb.h
**/tsn_client
**/tsn_server
**/tsn_coordinator
**/tsn_sync_service
/MP_1/tclient
/MP_1/tserver
/MP_3/mp2_solution
**/tsc
**/tsd
