# cpp and c compilation files
*.out
*.o
*.zip

# test and dev files
/MP_1/normal_test_cases.xlsx
/MP_1/notes.txt
/MP_1/scratch.cpp
/MP_1/tclient
/MP_1/tserver
/MP_1/MP1_GarrettWeston.zip

/MP_2/notes.txt

/MP_2/scratch.cpp
/MP_2/a.out
/MP_2/.vscode-server

# OS files and stuff
.DS_Store
*.note
