# Generic files to ignore 
**/*.out
**/*.o
**/*.zip
**/*.xlsx

# Personal notes and tracking files
**/notes*
**/*.note
**/scratch*
**/scratch/

# OS and Software Files
**/.DS_Store
**/.vscode*/
**/.bash_history

# PII and other potentially sensitive data
**/.ssh/
**/.gnupg/
**/.gitconfig/

# test and dev files
/MP_1/tclient
/MP_1/tserver

/MP_3/mp2solution

